<br class="card" id="challenges">
  <div class="card-header">
    <h2>Dev/Coding Challenges</h2>
  </div>
  <div class="challenges-container">
    <div class="challenge-item">
      <button class="challenge-title">
        <span>Machine Learning</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <div class="challenge-content">
        <p>
          Machine Learning codility practices and datasets
        </p>
        <a
          href="https://github.com/Dete-Desai/Machine-Learning-Practices.git"
          target="_blank"
          class="btn btn-outline"
        >
          <i class="fab fa-gitlab"></i> View Solution
        </a>
        <a
          href="https://github.com/Dete-Desai/Machine-Learning.git"
          target="_blank"
          class="btn btn-outline"
        >
          <i class="fab fa-gitlab"></i> View Solution 2
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="challenges-container">
    <div class="challenge-item">
      <button class="challenge-title">
        <span>Devops</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <div class="challenge-content">
        <p>
          It gives you the ability to analyze any data set by using the searching/aggregation capabilities of Elasticsearch and the visualization power of Kibana.
        </p>
        <a
          href="https://github.com/Dete-Desai/Elk-Devops-Practices.git"
          target="_blank"
          class="btn btn-outline"
        >
          <i class="fab fa-gitlab"></i> View Solution
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="challenges-container">
    <div class="challenge-item">
      <button class="challenge-title">
        <span>Data structures and algorithms</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <div class="challenge-content">
        <p>
            Contains all the code samples, implementations, and exercises from the bootcamp, covering a wide range of data structures and algorithms.
        </p>
        <a
          href="https://github.com/Dete-Desai/ZTM-DS-and-Algo-with-Python.git"
          target="_blank"
          class="btn btn-outline"
        >
          <i class="fab fa-gitlab"></i> View Solution
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="challenges-container">
    <div class="challenge-item">
      <button class="challenge-title">
        <span>Dynamic Programming</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <div class="challenge-content">
        <p>
          Learn how to solve almost any dynamic programming problem with both
          its approaches (memoization and tabulation)
        </p>
        <a
          href="https://github.com/Dete-Desai/Dynamic-Programming-Practice.git"
          target="_blank"
          class="btn btn-outline"
        >
          <i class="fab fa-gitlab"></i> View Solution
        </a>
      </div>
    </div>
  </div>
</section>
