<section class="card" id="mentorship">
  <div class="card-header">
    <h2>Mentorship</h2>
    <a href="#">View All <i class="fas fa-arrow-right"></i></a>
  </div>
  <p>
    I take pride in mentoring junior developers and helping them grow in their
    careers. Here are some of the talented individuals I've had the privilege to
    mentor:
  </p>

  <div class="mentee-grid">
    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/catherine.jpeg" alt="Catherine" />
      </div>
      <h3>Catherine Juma</h3>
      <p class="occupation">Frontend Developer</p>
      <p class="contact">
        <a
          href="https://www.linkedin.com/in/jcatherine-mulongo/"
          target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>

    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/juma.jpeg" alt="Emmanuel" />
      </div>
      <h3>Emmanuel Juma</h3>
      <p class="occupation">Software Developer</p>
      <p class="contact">
        <a href="https://www.linkedin.com/in/dev-juma-emmanuel/" target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>

    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/mbithuka.jpg" alt="Brian" />
      </div>
      <h3>Brian Mbithuka</h3>
      <p class="occupation">Software Developer</p>
      <p class="contact">
        <a
          href="https://www.linkedin.com/in/mbithuka-stephen-76a782137/"
          target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>

    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/johnmaina.jpg" alt="John" />
      </div>
      <h3>John Maina</h3>
      <p class="occupation">Backend Software Developer</p>
      <p class="contact">
        <a
          href="https://www.linkedin.com/in/john-maina-brbus911/"
          target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>

    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/alex.jpg" alt="Alex" />
      </div>
      <h3>Alex Guandaru</h3>
      <p class="occupation">Software Developer</p>
      <p class="contact">
        <a href="https://www.linkedin.com/in/guandarukabugi/" target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>

    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/joshua.jpeg" alt="Joshua" />
      </div>
      <h3>Joshua Ogwang</h3>
      <p class="occupation">Acquisition Analyst</p>
      <p class="contact">
        <a href="https://www.linkedin.com/in/jshgwng/" target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>

    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/ian.jpeg" alt="Ian" />
      </div>
      <h3>Ian Mwangi</h3>
      <p class="occupation">Junior Software Developer</p>
      <p class="contact">
        <a
          href="https://www.linkedin.com/in/ian-mwangi-b7319122b/"
          target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>

    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/mercy.jpeg" alt="Mercy" />
      </div>
      <h3>Mercy Kuboi</h3>
      <p class="occupation">System Developer</p>
      <p class="contact">
        <a
          href="https://www.linkedin.com/in/mercy-kuboi-41b9b720a/"
          target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>

    <div class="mentee-item">
      <div class="mentee-avatar">
        <img src="assets/images/tabitha.jpeg" alt="Tabitha" />
      </div>
      <h3>Tabitha Karuga</h3>
      <p class="occupation">Software Engineer</p>
      <p class="contact">
        <a
          href="https://www.linkedin.com/in/tabitha-karuga-099200199/"
          target="_blank"
          ><i class="fab fa-linkedin"></i> Connect</a
        >
      </p>
    </div>
  </div>
</section>
